.Nav {
  display: flex;
  background-color: aliceblue;
  padding: 10px 10px;
  justify-content: space-around;
  align-items: center;
}
.leftPart {
  font-size: 3rem;
  color: tomato;
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}
.rightPart {
  display: flex;
  align-items: center;
}
.btn{
  border: none;
  outline: none;
  padding:2px 2px;
  font-size: 800;
}
.iconSrch{
  background-color: rgb(12, 56, 77);
  cursor: pointer;
}
.searchContainer{
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.Srch {
  width: 60vw;
  height: 70%;
  padding: 10px 10px;
  outline: none;
  border: none;
  font-size: 1.3rem;
  background-color: none;

}

.cartContainer {
  position: relative;
}
.numsCont {
  position: absolute;
  right:0.01px;
  background-color: rgb(165, 21, 8);
  border-radius: 100%;
  padding:3px 3px;
  font-size: 0.9rem;
}
