.shoppingCartContainer{
    padding:2rem;
    flex:4;
}
.orderCont{
    flex: 1;
    padding:2rem;
    display: flex;
    flex-direction: column;
}
.xtopic{
font-weight: 500;
font-size: 2rem;
display: flex;
align-items: center;
justify-content: center;
color: rgb(13, 113, 226);
}
.carts{
    display: flex;
    flex-direction: column;
}
hr{
    margin: 0.8rem;
}
.PlaceOrderbutton{
    background-color: none;
    border: 1px solid purple;
    width: fit-content;
    padding: 0.3rem 0.3rem;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
}
.PlaceOrderbutton:hover{
    opacity: 70%;
}
.mainCont{
    display: flex;
}
.fieldDetails{
    display: flex;
    justify-content: space-between;
}
.orderCont>*{
    margin:0.2rem
}
.ItemsName{
    display: flex;
    flex-direction: column;
}
.ItemsValue{
    display: flex;
    flex-direction: column;
}
.spans{
    font-size: 1.2rem;
    font-weight: 200;
    opacity: 80%;
}
.spanTotal{
    font-size: 1.5rem;
    font-weight: 500;
}
.ItemsName>*{
    margin:0.5rem
}
.ItemsValue>*{
    margin:0.5rem
}
.checkOutButton{
    font-size: 1.5rem;
    background-color: rgb(14, 107, 102);
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;

}
.checkOutButton:hover{
    opacity: 80%;
}
