.sliderImage {
  height: 50%;
  width: 100vw;
  object-fit: cover;
}
.sliderImages {
  position: relative;
  overflow-x: hidden;
}
.left {
  position: absolute;
  top: 10rem;
  background-color: aliceblue;
  padding: 0.8rem 0.3rem;
  border-radius: 10px;
}
.right {
  position: absolute;
  top: 10rem;
  left: 95vw;
  background-color: aliceblue;
  padding: 0.8rem 0.3rem;
  border-radius: 10px;
}
