.signupcontainer{
    display: flex;
    flex-direction: column;
    padding:3rem 3rem;
    width:50%;
    margin: auto;
}
.inputsCont{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(143, 131, 131);
    padding: 1.5rem 1.5rem;
}
.nameCont{
    display: flex;
    flex-direction: column;
    margin:0.5rem;
}
.nameCont>*{
    margin:0.3rem;
}
.nameCont>input{
    height:4vh;
    border:1px solid rgb(214, 205, 205);
    background-color: none;
    outline: none;
    padding: 0.2rem 0.2rem;
    font-size: 1.1rem;
}
.formBtn{
    background-color: brown;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
}
.formBtn:hover{
   opacity: 70%;
}
.LoginContainerr{
    display: flex;
    justify-content: center;
    align-items: center;
}